p{
    text-align: justify;
}

footer{
    background-color: darkslategrey;
}
 /* Estilos para mantener el header fijo */
 header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Para que el contenido no quede oculto debajo del header */
body {
    padding-top: 70px;
}
 /* Centrar el contenido del header */
 .navbar {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-brand {
    margin-right: 20px;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
    width: 100%;
}